*{
    margin:0px;
}
img{
    width:500px;
    height:100vh;
}
form{
    position:relative;
    left:525px;
    bottom: 50vh;

}

#first_row{
    margin-bottom: 25px;
}

#second_row{
    margin-bottom: 25px;
}

button{
    margin-top: 25px;
}

input:invalid{
    background-color: red;
}